{"http_interactions": [{"response": {"body": {"string": "{\"auth_token\":\"d29ae8f7d145fc73b8c7baea93c5c347\"}", "encoding": "utf-8"}, "headers": {"content-type": "application/json;charset=utf-8"}, "url": "https://devapi.thecurrencycloud.com/v2/authenticate/api", "status": {"message": "OK", "code": 200}}, "request": {"body": {"string": "login_id=rjnienaber%40gmail.com&api_key=ef0fd50fca1fb14c1fab3a8436b9ecb65f02f129fd87eafa45ded8ae257528f0", "encoding": "utf-8"}, "headers": {"Content-Type": "application/x-www-form-urlencoded"}, "method": "POST", "uri": "https://devapi.thecurrencycloud.com/v2/authenticate/api"}, "recorded_at": "2015-06-25T09:25:04"}, {"response": {"body": {"string": "{\"invalid_conversion_dates\":{\"2015-06-27\":\"No trading on Saturday\",\"2015-06-28\":\"No trading on Sunday\",\"2015-07-04\":\"No trading on Saturday\",\"2015-07-05\":\"No trading on Sunday\",\"2015-07-11\":\"No trading on Saturday\",\"2015-07-12\":\"No trading on Sunday\",\"2015-07-18\":\"No trading on Saturday\",\"2015-07-19\":\"No trading on Sunday\",\"2015-07-25\":\"No trading on Saturday\",\"2015-07-26\":\"No trading on Sunday\",\"2015-08-01\":\"No trading on Saturday\",\"2015-08-02\":\"No trading on Sunday\",\"2015-[...]
