{"recorded_with": "betamax/0.4.2", "http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": "api_key=ef0fd50fca1fb14c1fab3a8436b9ecb65f02f129fd87eafa45ded8ae257528f0&login_id=rjnienaber%40gmail.com"}, "headers": {"Content-Type": "application/x-www-form-urlencoded"}, "uri": "https://devapi.thecurrencycloud.com/v2/authenticate/api", "method": "POST"}, "recorded_at": "2015-06-25T09:35:55", "response": {"url": "https://devapi.thecurrencycloud.com/v2/authenticate/api", "body": {"encoding": "utf-8", "string": "{\"auth_token\":\"bb3db61ea9bbbbf8363c661effafd139\"}"}, "headers": {"content-type": "application/json;charset=utf-8"}, "status": {"code": 200, "message": "OK"}}}, {"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"X-Auth-Token": "bb3db61ea9bbbbf8363c661effafd139"}, "uri": "https://devapi.thecurrencycloud.com/v2/reference/settlement_accounts?currency=GBP", "method": "GET"}, "recorded_at": "2015-06-25T09:35:55", "response": {"url": "https://devapi.thecurrencycloud.com/v2/reference/settlement_accounts?currency=GBP", "body": {"encoding": "utf-8", "string": "{\"settlement_accounts\":[{\"bank_account_holder_name\":\"The Currency Cloud GBP - Client Seg A/C\\t\",\"beneficiary_address\":\"\",\"beneficiary_country\":\"\",\"bank_name\":\"Barclays Bank plc\",\"bank_address\":[],\"bank_country\":\"\",\"currency\":\"GBP\",\"bic_swift\":\"BARCGB22\",\"iban\":\"GB06 BARC 2006 0513 0714 72\",\"account_number\":\"13071472\",\"routing_code_type_1\":\"sort_code\",\"routing_code_value_1\":\"200605\",\"routing_code_type_2\":\"\",\"routing_code_value_2\":\"\"}]}"}, "headers": {"content-type": "application/json;charset=utf-8"}, "status": {"code": 200, "message": "OK"}}}]}