{"http_interactions": [{"response": {"body": {"string": "{\"auth_token\":\"6d698b4d274a4e1087cc6c1cb8ff519e\"}", "encoding": "utf-8"}, "headers": {"content-type": "application/json;charset=utf-8"}, "url": "https://devapi.thecurrencycloud.com/v2/authenticate/api", "status": {"message": "OK", "code": 200}}, "request": {"body": {"string": "login_id=rjnienaber%40gmail.com&api_key=ef0fd50fca1fb14c1fab3a8436b9ecb65f02f129fd87eafa45ded8ae257528f0", "encoding": "utf-8"}, "headers": {"Content-Type": "application/x-www-form-urlencoded"}, "method": "POST", "uri": "https://devapi.thecurrencycloud.com/v2/authenticate/api"}, "recorded_at": "2015-06-25T09:25:03"}, {"response": {"body": {"string": "{\"details\":[{\"payment_type\":\"priority\",\"beneficiary_entity_type\":\"individual\",\"beneficiary_address\":\"^.{1,255}\",\"beneficiary_city\":\"^.{1,255}\",\"beneficiary_country\":\"^[A-z]{2}$\",\"beneficiary_first_name\":\"^.{1,255}\",\"beneficiary_last_name\":\"^.{1,255}\",\"acct_number\":\"^[0-9A-Z]{1,50}$\",\"sort_code\":\"^\\\\d{6}$\"},{\"payment_type\":\"priority\",\"beneficiary_entity_type\":\"company\",\"beneficiary_address\":\"^.{1,255}\",\"beneficiary_city\":\"^.{1,255}\",\"beneficiary_country\":\"^[A-z]{2}$\",\"beneficiary_company_name\":\"^.{1,255}\",\"acct_number\":\"^[0-9A-Z]{1,50}$\",\"sort_code\":\"^\\\\d{6}$\"},{\"payment_type\":\"regular\",\"acct_number\":\"^[0-9A-Z]{1,50}$\",\"sort_code\":\"^\\\\d{6}$\",\"beneficiary_entity_type\":\"individual\"},{\"payment_type\":\"regular\",\"acct_number\":\"^[0-9A-Z]{1,50}$\",\"sort_code\":\"^\\\\d{6}$\",\"beneficiary_entity_type\":\"company\"}]}", "encoding": "utf-8"}, "headers": {"content-type": "application/json;charset=utf-8"}, "url": "https://devapi.thecurrencycloud.com/v2/reference/beneficiary_required_details?bank_account_country=GB&currency=GBP&beneficiary_country=GB", "status": {"message": "OK", "code": 200}}, "request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"X-Auth-Token": "6d698b4d274a4e1087cc6c1cb8ff519e"}, "method": "GET", "uri": "https://devapi.thecurrencycloud.com/v2/reference/beneficiary_required_details?bank_account_country=GB&currency=GBP&beneficiary_country=GB"}, "recorded_at": "2015-06-25T09:25:04"}], "recorded_with": "betamax/0.4.2"}