{"recorded_with": "betamax/0.4.2", "http_interactions": [{"recorded_at": "2015-06-25T09:31:43", "request": {"uri": "https://devapi.thecurrencycloud.com/v2/authenticate/api", "method": "POST", "body": {"encoding": "utf-8", "string": "api_key=ef0fd50fca1fb14c1fab3a8436b9ecb65f02f129fd87eafa45ded8ae257528f0&login_id=rjnienaber%40gmail.com"}, "headers": {"Content-Type": "application/x-www-form-urlencoded"}}, "response": {"status": {"code": 200, "message": "OK"}, "url": "https://devapi.thecurrencycloud.com/v2/authenticate/api", "body": {"encoding": "utf-8", "string": "{\"auth_token\":\"09ff754019af1ea7c54c0cf6a332f887\"}"}, "headers": {"content-type": "application/json;charset=utf-8"}}}, {"recorded_at": "2015-06-25T09:31:44", "request": {"uri": "https://devapi.thecurrencycloud.com/v2/reference/currencies", "method": "GET", "body": {"encoding": "utf-8", "string": ""}, "headers": {"X-Auth-Token": "09ff754019af1ea7c54c0cf6a332f887"}}, "response": {"status": {"code": 200, "message": "OK"}, "url": "https://devapi.thecurrencycloud.com/v2/reference/currencies", "body": {"encoding": "utf-8", "string": "{\"currencies\":[{\"code\":\"AED\",\"decimal_places\":2,\"name\":\"United Arab Emirates Dirham\"},{\"code\":\"AUD\",\"decimal_places\":2,\"name\":\"Australian Dollar\"},{\"code\":\"BGN\",\"decimal_places\":2,\"name\":\"Bulgarian Lev\"},{\"code\":\"CAD\",\"decimal_places\":2,\"name\":\"Canadian Dollar\"},{\"code\":\"CHF\",\"decimal_places\":2,\"name\":\"Swiss Franc\"},{\"code\":\"CZK\",\"decimal_places\":2,\"name\":\"Czech Koruna\"},{\"code\":\"DKK\",\"decimal_places\":2,\"name\":\"Danish Krone\"},{\"code\":\"EUR\",\"decimal_places\":2,\"name\":\"Euro\"},{\"co[...]
