{"recorded_with": "betamax/0.4.2", "http_interactions": [{"recorded_at": "2015-06-24T15:05:46", "request": {"method": "POST", "uri": "https://devapi.thecurrencycloud.com/v2/authenticate/api", "headers": {"Content-Type": "application/x-www-form-urlencoded"}, "body": {"encoding": "utf-8", "string": "api_key=ef0fd50fca1fb14c1fab3a8436b9ecb65f02f129fd87eafa45ded8ae257528f0&login_id=rjnienaber%40gmail.com"}}, "response": {"url": "https://devapi.thecurrencycloud.com/v2/authenticate/api", "status": {"code": 200, "message": "OK"}, "headers": {"content-type": "application/json;charset=utf-8"}, "body": {"encoding": "utf-8", "string": "{\"auth_token\":\"90d3c2a587fd742608e40cfd20f276ce\"}"}}}, {"recorded_at": "2015-06-24T15:05:47", "request": {"method": "POST", "uri": "https://devapi.thecurrencycloud.com/v2/beneficiaries/create", "headers": {"Content-Type": "application/x-www-form-urlencoded", "X-Auth-Token": "90d3c2a587fd742608e40cfd20f276ce"}, "body": {"encoding": "utf-8", "string": "routing_code_value_2=400730&beneficiary_country=GB&currency=GBP&routing_code_value_1=123456780&beneficiary_postcode=42424&beneficiary_entity_type=individual&routing_code_type_2=sort_code&payment_types%5B%5D=priority&payment_types%5B%5D=regular&beneficiary_address=Address+42&bank_account_holder_name=Test+User&beneficiary_last_name=Who&beneficiary_first_name=Dr.&account_number=4185+4372&name=Test+User+Nick&beneficiary_city=The+Citadel&bank_country=GB&routing_code_type_1=aba"}}, "response": {"url": "https://devapi.thecurrencycloud.com/v2/beneficiaries/create", "status": {"code": 200, "message": "OK"}, "headers": {"content-type": "application/json;charset=utf-8"}, "body": {"encoding": "utf-8", "string": "{\"id\":\"cec40146-8e98-41cd-85f1-f56f974c1ee1\",\"bank_account_holder_name\":\"Test User\",\"name\":\"Test User Nick\",\"email\":null,\"payment_types\":[\"priority\",\"regular\"],\"beneficiary_address\":[\"Address 42\"],\"beneficiary_country\":\"GB\",\"beneficiary_entity_type\":\"individual\",\"beneficiary_company_name\":null,\"beneficiary_first_name\":\"Dr.\",\"beneficiary_last_name\":\"Who\",\"beneficiary_city\":\"The Citadel\",\"beneficiary_postcode\":\"42424\",\"beneficiary_state_or_province\":null,\"beneficiary_date_of_birth\":null,\"beneficiary_identification_type\":null,\"beneficiary_identification_value\":null,\"bank_country\":\"GB\",\"bank_name\":\"HSBC BANK PLC\",\"bank_account_type\":null,\"currency\":\"GBP\",\"account_number\":\"4185 4372\",\"routing_code_type_1\":null,\"routing_code_value_1\":null,\"routing_code_type_2\":\"sort_code\",\"routing_code_value_2\":\"400730\",\"bic_swift\":null,\"iban\":null,\"default_beneficiary\":\"false\",\"creator_contact_id\":\"c4d838e8-1625-44c6-a9fb-39bcb1fe353d\",\"bank_address\":[\"5 Wimbledon Hill Rd\",\"Wimbledon\",\"London\"],\"created_at\":\"2015-06-24T15:05:46+00:00\",\"updated_at\":\"2015-06-24T15:05:46+00:00\"}"}}}]}