{"http_interactions": [{"recorded_at": "2015-06-24T15:31:58", "request": {"headers": {"Content-Type": "application/x-www-form-urlencoded"}, "body": {"encoding": "utf-8", "string": "api_key=ef0fd50fca1fb14c1fab3a8436b9ecb65f02f129fd87eafa45ded8ae257528f0&login_id=rjnienaber%40gmail.com"}, "uri": "https://devapi.thecurrencycloud.com/v2/authenticate/api", "method": "POST"}, "response": {"url": "https://devapi.thecurrencycloud.com/v2/authenticate/api", "headers": {"content-type": "application/json;charset=utf-8"}, "body": {"encoding": "utf-8", "string": "{\"auth_token\":\"ac41ea2e918f2bb191dc9b79b7c433f0\"}"}, "status": {"code": 200, "message": "OK"}}}, {"recorded_at": "2015-06-24T15:31:58", "request": {"headers": {"X-Auth-Token": "ac41ea2e918f2bb191dc9b79b7c433f0"}, "body": {"encoding": "utf-8", "string": ""}, "uri": "https://devapi.thecurrencycloud.com/v2/balances/GBP", "method": "GET"}, "response": {"url": "https://devapi.thecurrencycloud.com/v2/balances/GBP", "headers": {"content-type": "application/json;charset=utf-8"}, "body": {"encoding": "utf-8", "string": "{\"id\":\"6e87663f-7d5d-486d-8cd2-d7c67ac9f840\",\"account_id\":\"8ec3a69b-02d1-4f09-9a6b-6bd54a61b3a8\",\"currency\":\"GBP\",\"amount\":\"0.00\",\"created_at\":\"2015-06-24T15:31:24+00:00\",\"updated_at\":\"2015-06-24T15:31:24+00:00\"}"}, "status": {"code": 200, "message": "OK"}}}], "recorded_with": "betamax/0.4.2"}