{"recorded_with": "betamax/0.4.2", "http_interactions": [{"response": {"url": "https://devapi.thecurrencycloud.com/v2/authenticate/api", "headers": {"content-type": "application/json;charset=utf-8"}, "body": {"string": "{\"auth_token\":\"05217d293fd9bebdeeedfc02beb764a5\"}", "encoding": "utf-8"}, "status": {"message": "OK", "code": 200}}, "recorded_at": "2015-06-24T15:19:28", "request": {"headers": {"Content-Type": "application/x-www-form-urlencoded"}, "body": {"string": "login_id=rjnienaber%40gmail.com&api_key=ef0fd50fca1fb14c1fab3a8436b9ecb65f02f129fd87eafa45ded8ae257528f0", "encoding": "utf-8"}, "uri": "https://devapi.thecurrencycloud.com/v2/authenticate/api", "method": "POST"}}, {"response": {"url": "https://devapi.thecurrencycloud.com/v2/accounts/current", "headers": {"content-type": "application/json;charset=utf-8"}, "body": {"string": "{\"id\":\"8ec3a69b-02d1-4f09-9a6b-6bd54a61b3a8\",\"account_name\":\"Currency Cloud\",\"brand\":\"currencycloud\",\"your_reference\":\"\",\"status\":\"enabled\",\"street\":null,\"city\":null,\"state_or_province\":null,\"country\":null,\"postal_code\":null,\"spread_table\":\"fxcg_rfx_default\",\"legal_entity_type\":null,\"created_at\":\"2015-04-24T15:57:55+00:00\",\"updated_at\":\"2015-06-09T08:28:40+00:00\",\"identification_type\":null,\"identification_value\":null,\"short_reference\":\"150424-00002\"}", "encoding": "utf-8"}, "status": {"message": "OK", "code": 200}}, "recorded_at": "2015-06-24T15:19:28", "request": {"headers": {"X-Auth-Token": "05217d293fd9bebdeeedfc02beb764a5"}, "body": {"string": "", "encoding": "utf-8"}, "uri": "https://devapi.thecurrencycloud.com/v2/accounts/current", "method": "GET"}}]}