{"recorded_with": "betamax/0.4.2", "http_interactions": [{"recorded_at": "2015-06-24T15:05:49", "request": {"method": "POST", "uri": "https://devapi.thecurrencycloud.com/v2/authenticate/api", "headers": {"Content-Type": "application/x-www-form-urlencoded"}, "body": {"encoding": "utf-8", "string": "api_key=ef0fd50fca1fb14c1fab3a8436b9ecb65f02f129fd87eafa45ded8ae257528f0&login_id=rjnienaber%40gmail.com"}}, "response": {"url": "https://devapi.thecurrencycloud.com/v2/authenticate/api", "status": {"code": 200, "message": "OK"}, "headers": {"content-type": "application/json;charset=utf-8"}, "body": {"encoding": "utf-8", "string": "{\"auth_token\":\"48d7098b15d828d0e35efabf90116e59\"}"}}}, {"recorded_at": "2015-06-24T15:05:49", "request": {"method": "GET", "uri": "https://devapi.thecurrencycloud.com/v2/beneficiaries/find?bank_account_holder_name=Test+User&per_page=1", "headers": {"X-Auth-Token": "48d7098b15d828d0e35efabf90116e59"}, "body": {"encoding": "utf-8", "string": ""}}, "response": {"url": "https://devapi.thecurrencycloud.com/v2/beneficiaries/find?bank_account_holder_name=Test+User&per_page=1", "status": {"code": 200, "message": "OK"}, "headers": {"content-type": "application/json;charset=utf-8"}, "body": {"encoding": "utf-8", "string": "{\"beneficiaries\":[{\"id\":\"2b131be5-8f41-4a10-bbb7-b90d1a65ddea\",\"bank_account_holder_name\":\"Test User\",\"name\":\"Test User Nick\",\"email\":null,\"payment_types\":[\"priority\",\"regular\"],\"beneficiary_address\":[\"Address 42\"],\"beneficiary_country\":\"GB\",\"beneficiary_entity_type\":\"individual\",\"beneficiary_company_name\":null,\"beneficiary_first_name\":\"Dr.\",\"beneficiary_last_name\":\"Who\",\"beneficiary_city\":\"The Citadel\",\"beneficiary_postcode\":\"42424\",\"beneficiary_state_or_province\":null,\"beneficiary_date_of_birth\":null,\"beneficiary_identification_type\":null,\"beneficiary_identification_value\":null,\"bank_country\":\"GB\",\"bank_name\":\"HSBC BANK PLC\",\"bank_account_type\":null,\"currency\":\"GBP\",\"account_number\":\"41854372\",\"routing_code_type_1\":null,\"routing_code_value_1\":null,\"routing_code_type_2\":\"sort_code\",\"routing_code_value_2\":\"400730\",\"bic_swift\":null,\"iban\":null,\"default_beneficiary\":\"false\",\"creator_contact_id\":\"c4d838e8-1625-44c6-a9fb-39bcb1fe353d\",\"bank_address\":[\"5 Wimbledon Hill Rd\",\"Wimbledon\",\"London\"],\"created_at\":\"2015-06-24T14:01:19+00:00\",\"updated_at\":\"2015-06-24T14:01:20+00:00\"}],\"pagination\":{\"total_entries\":7,\"total_pages\":7,\"current_page\":1,\"per_page\":1,\"previous_page\":-1,\"next_page\":2,\"order\":\"created_at\",\"order_asc_desc\":\"asc\"}}"}}}]}