{"http_interactions": [{"request": {"body": {"string": "login_id=rjnienaber%40gmail.com&api_key=ef0fd50fca1fb14c1fab3a8436b9ecb65f02f129fd87eafa45ded8ae257528f0", "encoding": "utf-8"}, "headers": {"Content-Type": "application/x-www-form-urlencoded"}, "method": "POST", "uri": "https://devapi.thecurrencycloud.com/v2/authenticate/api"}, "response": {"body": {"string": "{\"auth_token\":\"b6452100c954c806935e37c0c178e706\"}", "encoding": "utf-8"}, "headers": {"content-type": "application/json;charset=utf-8"}, "status": {"message": "OK", "code": 200}, "url": "https://devapi.thecurrencycloud.com/v2/authenticate/api"}, "recorded_at": "2015-06-24T15:28:53"}, {"request": {"body": {"string": "bank_country=GB&payment_types%5B%5D=regular&currency=GBP&routing_code_type_1=sort_code&account_number=4185+4372&routing_code_value_1=400730", "encoding": "utf-8"}, "headers": {"X-Auth-Token": "b6452100c954c806935e37c0c178e706", "Content-Type": "application/x-www-form-urlencoded"}, "method": "POST", "uri": "https://devapi.thecurrencycloud.com/v2/beneficiaries/validate"}, "response": {"body": {"string": "{\"payment_types\":[\"regular\"],\"bank_country\":\"GB\",\"bank_name\":\"HSBC BANK PLC\",\"bank_account_type\":null,\"currency\":\"GBP\",\"account_number\":\"4185 4372\",\"routing_code_type_1\":\"sort_code\",\"beneficiary_address\":[],\"beneficiary_country\":null,\"beneficiary_entity_type\":null,\"beneficiary_company_name\":null,\"beneficiary_first_name\":null,\"beneficiary_last_name\":null,\"beneficiary_city\":null,\"beneficiary_postcode\":null,\"beneficiary_state_or_province\":null,\"beneficiary_date_of_birth\":null,\"beneficiary_identification_type\":null,\"beneficiary_identification_value\":null,\"routing_code_value_1\":\"400730\",\"routing_code_type_2\":null,\"routing_code_value_2\":null,\"bic_swift\":null,\"iban\":null,\"bank_address\":[\"5 Wimbledon Hill Rd\",\"Wimbledon\",\"London\"]}", "encoding": "utf-8"}, "headers": {"content-type": "application/json;charset=utf-8"}, "status": {"message": "OK", "code": 200}, "url": "https://devapi.thecurrencycloud.com/v2/beneficiaries/validate"}, "recorded_at": "2015-06-24T15:28:53"}], "recorded_with": "betamax/0.4.2"}