{
  "http_interactions": [
    {
      "recorded_at": "2024-09-26T15:38:00",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "login_id=development%40currencycloud.com&api_key=deadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef"
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://devapi.currencycloud.com/v2/authenticate/api"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"auth_token\":\"deadbeefdeadbeefdeadbeefdeadbeef\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://devapi.currencycloud.com/v2/authenticate/api"
      }
    },
    {
      "recorded_at": "2018-07-16T22:20:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"accepted\":\"true\",\"reason\":\"Accepted\"}"
        },
        "headers": {
          "X-Auth-Token": [
            "deadbeefdeadbeefdeadbeefdeadbeef"
          ]
        },
        "method": "POST",
        "uri": "https://devapi.currencycloud.com/v2/collections_screening/4159653e-b0e3-449f-93d0-1f25a5dd988b/complete"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"transaction_id\":\"4159653e-b0e3-449f-93d0-1f25a5dd988b\",\"account_id\":\"9ef922ee-4016-44ce-b6ac-185494d45ea2\",\"house_account_id\":\"9ef922ee-4016-44ce-b6ac-185494d45ea2\",\"result\":{\"reason\":\"Accepted\",\"accepted\":true}}"
        },
        "headers": {

          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "Date": [
            "Mon, 16 Jul 2024 22:20:06 GMT"
          ],
          "Server": [
            "nginx"
          ],
          "Vary": [
            "Origin"
          ],
          "X-Content-Type-Options": [
            "nosniff"
          ],
          "X-Request-Id": [
            "eeba8364-41a5-4458-9bc4-91c4dab8f3b4"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://devapi.currencycloud.com/v2/collections_screening/4159653e-b0e3-449f-93d0-1f25a5dd988b/complete"
      }
    }

  ],
  "recorded_with": "betamax/0.9.0"
}