[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.31.0"
PyYAML = "==5.4"
deprecation = "== 2.0.6"

[dev-packages]
pytest = ">=4.5.0"
mock = "==3.0.5"
tox = "==3.11.1"
requests-mock = "==1.6.0"
betamax = "==0.8.1"
betamax-serializers = "==0.2.0"
