{
  "http_interactions": [
    {
      "recorded_at": "2018-07-16T22:20:04",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "login_id=development%40currencycloud.com&api_key=deadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef"
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://devapi.currencycloud.com/v2/authenticate/api"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"auth_token\":\"deadbeefdeadbeefdeadbeefdeadbeef\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://devapi.currencycloud.com/v2/authenticate/api"
      }
    },
    {
      "recorded_at": "2018-07-16T22:20:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "X-Auth-Token": [
            "deadbeefdeadbeefdeadbeefdeadbeef"
          ]
        },
        "method": "GET",
        "uri": "https://devapi.currencycloud.com/v2/reference/payment_purpose_codes?currency=CNY"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"purpose_codes\":[{\"currency\":\"CNY\",\"entity_type\":\"company\",\"purpose_code\":\"current_account_payment\",\"purpose_description\":\"Payment to Current Account\"},{\"currency\":\"CNY\",\"entity_type\":\"company\",\"purpose_code\":\"services\",\"purpose_description\":\"Trade Settlement for Services\"},{\"currency\":\"CNY\",\"entity_type\":\"company\",\"purpose_code\":\"donations\",\"purpose_description\":\"Charity Donation\"},{\"currency\":\"CNY\",\"entity_type\":\"company\",\"purpose_code\":\"goods\",\"purpose_description\":\"Trade Settlement for Goods\"},{\"currency\":\"CNY\",\"entity_type\":\"company\",\"purpose_code\":\"capital_account_payment\",\"purpose_description\":\"Payment to Capital Account\"}]}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://devapi.currencycloud.com/v2/reference/payment_purpose_codes?currency=CNY"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}
