{
  "http_interactions": [
    {
      "recorded_at": "2018-07-16T22:20:04",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "login_id=development%40currencycloud.com&api_key=deadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef"
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://devapi.currencycloud.com/v2/authenticate/api"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"auth_token\":\"deadbeefdeadbeefdeadbeefdeadbeef\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://devapi.currencycloud.com/v2/authenticate/api"
      }
    },
    {
      "recorded_at": "2018-07-16T22:20:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "X-Auth-Token": [
            "deadbeefdeadbeefdeadbeefdeadbeef"
          ]
        },
        "method": "GET",
        "uri": "https://devapi.currencycloud.com/v2/reference/bank_details?identifier_type=iban&identifier_value=GB19TCCL00997901654515"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"identifier_value\":\"GB19TCCL00997901654515\",\"identifier_type\":\"iban\",\"account_number\":\"GB19TCCL00997901654515\",\"bic_swift\":\"TCCLGB22XXX\",\"bank_name\":\"THE CURRENCY CLOUD LIMITED\",\"bank_branch\":\"\",\"bank_address\":\"12 STEWARD STREET  THE STEWARD BUILDING FLOOR 0\",\"bank_city\":\"LONDON\",\"bank_state\":\"LONDON\",\"bank_post_code\":\"E1 6FQ\",\"bank_country\":\"UNITED KINGDOM\",\"bank_country_ISO\":\"GB\",\"currency\":null}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://devapi.currencycloud.com/v2/reference/bank_details?identifier_type=iban&identifier_value=GB19TCCL00997901654515"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}
