{
  "http_interactions": [
    {
      "recorded_at": "2018-07-16T22:20:04",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "login_id=development%40currencycloud.com&api_key=deadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef"
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://devapi.currencycloud.com/v2/authenticate/api"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"auth_token\":\"deadbeefdeadbeefdeadbeefdeadbeef\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://devapi.currencycloud.com/v2/authenticate/api"
      }
    },
    {
      "recorded_at": "2018-07-16T22:20:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "X-Auth-Token": [
            "deadbeefdeadbeefdeadbeefdeadbeef"
          ]
        },
        "method": "GET",
        "uri": "https://devapi.currencycloud.com/v2/reference/payment_fee_rules"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"payment_fee_rules\": [{\"payment_type\": \"priority\",\"charge_type\": \"shared\",\"fee_amount\": \"2.00\",\"fee_currency\": \"AED\"},{\"payment_type\": \"regular\",\"charge_type\": \"shared\",\"fee_amount\": \"12.00\",\"fee_currency\": \"USD\"},{\"payment_type\": \"priority\",\"charge_type\": \"ours\",\"fee_amount\": \"5.25\",\"fee_currency\": \"GBP\"}]}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://devapi.currencycloud.com/v2/reference/payment_fee_rules"
      }
    },
    {
      "recorded_at": "2018-07-16T22:20:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "X-Auth-Token": [
            "deadbeefdeadbeefdeadbeefdeadbeef"
          ]
        },
        "method": "GET",
        "uri": "https://devapi.currencycloud.com/v2/reference/payment_fee_rules?payment_type=regular"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"payment_fee_rules\": [{\"payment_type\": \"regular\",\"charge_type\": \"shared\",\"fee_amount\": \"12.00\",\"fee_currency\": \"USD\"}]}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://devapi.currencycloud.com/v2/reference/payment_fee_rules?payment_type=regular"
      }
    },
    {
      "recorded_at": "2018-07-16T22:20:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "X-Auth-Token": [
            "deadbeefdeadbeefdeadbeefdeadbeef"
          ]
        },
        "method": "GET",
        "uri": "https://devapi.currencycloud.com/v2/reference/payment_fee_rules?charge_type=ours"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"payment_fee_rules\": [{\"payment_type\": \"priority\",\"charge_type\": \"ours\",\"fee_amount\": \"5.25\",\"fee_currency\": \"GBP\"}]}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://devapi.currencycloud.com/v2/reference/payment_fee_rules?charge_type=ours"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}

