{
  "http_interactions": [
    {
      "recorded_at": "2017-05-12T10:47:27",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "login_id=non-existent-login-id&api_key=ef0fd50fca1fb14c1fab3a8436b9ecb57528f0"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://devapi.thecurrencycloud.com/v2/authenticate/api"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"error_code\":\"auth_invalid_user_login_details\",\"error_messages\":{\"api_key\":[{\"code\":\"api_key_length_is_invalid\",\"message\":\"api_key should be 64 character(s) long\",\"params\":{\"length\":64}}]}}"
        },
        "headers": {
          "Content-Type": "application/json;charset=utf-8"
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        },
        "url": "https://devapi.thecurrencycloud.com/v2/authenticate/api"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}