{
  "http_interactions": [
    {
      "recorded_at": "2017-05-12T11:07:00",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "login_id=non-existent-login-id&api_key=deadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://devapi.currencycloud.com/v2/authenticate/api"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"error_code\":\"auth_failed\",\"error_messages\":{\"username\":[{\"code\":\"invalid_supplied_credentials\",\"message\":\"Authentication failed with the supplied credentials\",\"params\":{}}]}}"
        },
        "headers": {
          "Content-Type": "application/json;charset=utf-8"
        },
        "status": {
          "code": 401,
          "message": "Unauthorized"
        },
        "url": "https://devapi.currencycloud.com/v2/authenticate/api"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}
