{
  "http_interactions": [
    {
      "recorded_at": "2017-05-12T11:18:28",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "login_id=development%40currencycloud.com&api_key=deadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://devapi.currencycloud.com/v2/authenticate/api"
      },
      "response": {
        "url": "https://devapi.currencycloud.com/v2/authenticate/api",
         "body": {
           "encoding": "utf-8",
           "string": "{\"error_code\":\"too_many_requests\",\"error_messages\":{\"base\":[{\"code\":\"too_many_requests\",\"message\":\"Too many requests have been made to the api. Please refer to the Developer Center for more information\",\"params\":{}}]}}"
         },
         "headers": {
           "content-type": "application/json;charset=utf-8"
         },
         "status": {
           "code": 429,
           "message": "Too Many Requests"
         },
         "url": "https://devapi.currencycloud.com/v2/authenticate/api"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}
