{
  "http_interactions": [
    {
      "request": {
        "uri": "https:\/\/devapi.thecurrencycloud.com\/v2\/authenticate\/api",
        "method": "POST",
        "headers": {
          "Content-Type": "application\/x-www-form-urlencoded"
        },
        "body": {
          "encoding": "utf-8",
          "string": "login_id=rjnienaber%40gmail.com&api_key=ef0fd50fca1fb14c1fab3a8436b9ecb65f02f129fd87eafa45ded8ae257528f0"
        }
      },
      "recorded_at": "2015-06-24T10:02:53",
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https:\/\/devapi.thecurrencycloud.com\/v2\/authenticate\/api",
        "headers": {
          "content-type": "application\/json;charset=utf-8"
        },
        "body": {
          "encoding": "utf-8",
          "string": "{\"auth_token\":\"25d4e4074764513f71a059761cbb3e98\"}"
        }
      }
    },
    {
      "request": {
        "uri": "https:\/\/devapi.thecurrencycloud.com\/v2\/beneficiaries\/081596c9-02de-483e-9f2a-4cf55dcdf98c",
        "method": "GET",
        "headers": {
          "X-Auth-Token": "25d4e4074764513f71a059761cbb3e98"
        },
        "body": {
          "encoding": "utf-8",
          "string": ""
        }
      },
      "recorded_at": "2015-06-24T10:02:53",
      "response": {
        "status": {
          "code": 404,
          "message": "Not Found"
        },
        "url": "https:\/\/devapi.thecurrencycloud.com\/v2\/beneficiaries\/081596c9-02de-483e-9f2a-4cf55dcdf98c",
        "headers": {
          "content-type": "application\/json;charset=utf-8"
        },
        "body": {
          "encoding": "utf-8",
          "string": "{\"error_code\":\"beneficiary_not_found\",\"error_messages\":{\"id\":[{\"code\":\"beneficiary_not_found\",\"message\":\"Beneficiary was not found for this id\",\"params\":{}}]}}"
        }
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}
