{
  "http_interactions": [
    {
      "recorded_at": "2018-07-16T22:20:04",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "login_id=development%40currencycloud.com&api_key=deadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef"
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://devapi.currencycloud.com/v2/authenticate/api"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"auth_token\":\"deadbeefdeadbeefdeadbeefdeadbeef\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://devapi.currencycloud.com/v2/authenticate/api"
      }
    },
    {
      "recorded_at": "2018-07-16T22:20:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "reference=PullFunds1&amount=100"
        },
        "headers": {
          "X-Auth-Token": [
            "deadbeefdeadbeefdeadbeefdeadbeef"
          ]
        },
        "method": "POST",
        "uri": "https://devapi.currencycloud.com/v2/withdrawal_accounts/0886ac00-6ab6-41a6-b0e1-8d3faf2e0de2/pull_funds"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{  \"id\": \"e2e6b7aa-c9e8-4625-96a6-b97d4baab758\",   \"withdrawal_account_id\": \"0886ac00-6ab6-41a6-b0e1-8d3faf2e0de2\",   \"reference\": \"PullFunds1\",   \"amount\": \"100.00\",   \"created_at\": \"2020-06-29T08:02:31+00:00\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://devapi.currencycloud.com/v2/withdrawal_accounts/0886ac00-6ab6-41a6-b0e1-8d3faf2e0de2/pull_funds"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}

