{
  "http_interactions": [
    {
      "recorded_at": "2018-07-16T22:20:04",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "login_id=development%40currencycloud.com&api_key=deadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef"
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://devapi.currencycloud.com/v2/authenticate/api"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"auth_token\":\"deadbeefdeadbeefdeadbeefdeadbeef\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://devapi.currencycloud.com/v2/authenticate/api"
      }
    },
    {
      "recorded_at": "2018-07-16T22:20:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "X-Auth-Token": [
            "deadbeefdeadbeefdeadbeefdeadbeef"
          ]
        },
        "method": "GET",
        "uri": "https://devapi.currencycloud.com/v2/withdrawal_accounts/find?account_id=72970a7c-7921-431c-b95f-3438724ba16f"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"withdrawal_accounts\": [  {    \"id\": \"0886ac00-6ab6-41a6-b0e1-8d3faf2e0de2\",    \"account_name\": \"currencycloud\",    \"account_holder_name\": \"The Currency Cloud\",    \"account_holder_dob\": null,    \"routing_code\": \"123456789\",    \"account_number\": \"01234567890\",    \"currency\": \"USD\",    \"account_id\": \"72970a7c-7921-431c-b95f-3438724ba16f\"  }],\"pagination\": {  \"total_entries\": 1,  \"total_pages\": 1,  \"current_page\": 1,  \"per_page\": 25,  \"previous_page\": -1,  \"next_page\": -1,  \"order\": \"created_at\",  \"order_asc_desc\": \"asc\"}}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://devapi.currencycloud.com/v2/withdrawal_accounts/find?account_id=72970a7c-7921-431c-b95f-3438724ba16f"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}

