{"recorded_with": "betamax/0.4.2", "http_interactions": [{"request": {"uri": "https://devapi.thecurrencycloud.com/v2/beneficiaries/find", "body": {"encoding": "utf-8", "string": ""}, "headers": {"X-Auth-Token": "dccea1f059e57d8add05b5a785c6e8f2"}, "method": "GET"}, "response": {"url": "https://devapi.thecurrencycloud.com/v2/beneficiaries/find", "body": {"encoding": "utf-8", "string": "{\"beneficiaries\":[{\"id\":\"bdc3dbb9-aa9f-46cf-8c18-55882d10ea65\",\"bank_account_holder_name\":\"Richard+TEST\",\"name\":\"Richard+test\",\"email\":null,\"payment_types\":[\"regular\"],\"beneficiary_address\":[],\"beneficiary_country\":null,\"beneficiary_entity_type\":\"individual\",\"beneficiary_company_name\":null,\"beneficiary_first_name\":\"Richard\",\"beneficiary_last_name\":\"Nienaber\",\"beneficiary_city\":null,\"beneficiary_postcode\":null,\"beneficiary_state_or_province\":null,\"beneficiary_date_of_birth\":null,\"beneficiary_identification_type\":null,\"beneficiary_identification_value\":null,\"bank_country\":\"NZ\",\"bank_name\":null,\"bank_account_type\":null,\"currency\":\"NZD\",\"account_number\":\"234234\",\"routing_code_type_1\":\"bsb_code\",\"routing_code_value_1\":\"4334334\",\"routing_code_type_2\":null,\"routing_code_value_2\":null,\"bic_swift\":null,\"iban\":null,\"default_beneficiary\":\"false\",\"creator_contact_id\":\"c4d838e8-1625-44c6-a9fb-39bcb1fe353d\",\"bank_address\":[],\"created_at\":\"2015-05-07T14:37:16+00:00\",\"updated_at\":\"2015-05-07T14:37:17+00:00\"},{\"id\":\"287424a4-b3b9-4618-9b9c-c54e1c6e8b88\",\"bank_account_holder_name\":\"Acme GmbH\",\"name\":\"John Doe\",\"email\":null,\"payment_types\":[\"priority\",\"regular\"],\"beneficiary_address\":[\"London, UK\"],\"beneficiary_country\":\"DE\",\"beneficiary_entity_type\":\"individual\",\"beneficiary_company_name\":\"ACME Ltd.\",\"beneficiary_first_name\":\"John\",\"beneficiary_last_name\":\"Doe\",\"beneficiary_city\":\"London\",\"beneficiary_postcode\":null,\"ben[...]
