{"recorded_with": "betamax/0.4.2", "http_interactions": [{"recorded_at": "2015-06-24T07:58:11", "request": {"uri": "https://devapi.thecurrencycloud.com/v2/authenticate/api", "method": "POST", "body": {"encoding": "utf-8", "string": "api_key=ef0fd50fca1fb14c1fab3a8436b9ecb65f02f129fd87eafa45ded8ae257528f0&login_id=rjnienaber%40gmail.com"}, "headers": {"Content-Type": "application/x-www-form-urlencoded"}}, "response": {"url": "https://devapi.thecurrencycloud.com/v2/authenticate/api", "status": {"message": "OK", "code": 200}, "body": {"encoding": "utf-8", "string": "{\"auth_token\":\"74d09c54c81939377fbd923773ff8c86\"}"}, "headers": {"content-type": "application/json;charset=utf-8"}}}, {"recorded_at": "2015-06-24T07:58:11", "request": {"uri": "https://devapi.thecurrencycloud.com/v2/authenticate/close_session", "method": "POST", "body": {"encoding": "utf-8", "string": ""}, "headers": {"X-Auth-Token": "74d09c54c81939377fbd923773ff8c86"}}, "response": {"url": "https://devapi.thecurrencycloud.com/v2/authenticate/close_session", "status": {"message": "OK", "code": 200}, "body": {"encoding": "utf-8", "string": "{}"}, "headers": {"content-type": "application/json;charset=utf-8"}}}]}