{"recorded_with": "betamax/0.4.2", "http_interactions": [{"request": {"uri": "https://devapi.thecurrencycloud.com/v2/authenticate/api", "body": {"encoding": "utf-8", "string": "api_key=ef0fd50fca1fb14c1fab3a8436b9ecb65f02f129fd87eafa45ded8ae257528f0&login_id=rjnienaber%40gmail.com"}, "headers": {"Content-Type": "application/x-www-form-urlencoded"}, "method": "POST"}, "response": {"url": "https://devapi.thecurrencycloud.com/v2/authenticate/api", "body": {"encoding": "utf-8", "string": "{\"auth_token\":\"dccea1f059e57d8add05b5a785c6e8f2\"}"}, "headers": {"content-type": "application/json;charset=utf-8"}, "status": {"code": 200, "message": "OK"}}, "recorded_at": "2015-06-24T07:41:30"}]}