{"http_interactions": [{"recorded_at": "2015-06-25T10:19:49", "request": {"headers": {"Content-Type": "application/x-www-form-urlencoded"}, "body": {"encoding": "utf-8", "string": "api_key=ef0fd50fca1fb14c1fab3a8436b9ecb65f02f129fd87eafa45ded8ae257528f0&login_id=rjnienaber%40gmail.com"}, "uri": "https://devapi.thecurrencycloud.com/v2/authenticate/api", "method": "POST"}, "response": {"url": "https://devapi.thecurrencycloud.com/v2/authenticate/api", "headers": {"content-type": "application/json;charset=utf-8"}, "body": {"encoding": "utf-8", "string": "{\"auth_token\":\"3f2c2ee83d0ce060230b3337a35d636d\"}"}, "status": {"code": 200, "message": "OK"}}}, {"recorded_at": "2015-06-25T10:19:50", "request": {"headers": {"X-Auth-Token": "3f2c2ee83d0ce060230b3337a35d636d"}, "body": {"encoding": "utf-8", "string": ""}, "uri": "https://devapi.thecurrencycloud.com/v2/settlements/2bdf5b05-1cb6-4a9a-811f-43046eec63b7", "method": "GET"}, "response": {"url": "https://devapi.thecurrencycloud.com/v2/settlements/2bdf5b05-1cb6-4a9a-811f-43046eec63b7", "headers": {"content-type": "application/json;charset=utf-8"}, "body": {"encoding": "utf-8", "string": "{\"id\":\"2bdf5b05-1cb6-4a9a-811f-43046eec63b7\",\"status\":\"open\",\"short_reference\":\"20150625-KCXRLJ\",\"type\":\"bulk\",\"conversion_ids\":[\"49613663-717c-496e-9dd6-2f1d4e59131f\"],\"entries\":[{\"USD\":{\"receive_amount\":\"0.00\",\"send_amount\":\"1569.50\"}},{\"GBP\":{\"receive_amount\":\"1000.00\",\"send_amount\":\"0.00\"}}],\"created_at\":\"2015-06-25T10:19:48+00:00\",\"updated_at\":\"2015-06-25T10:19:49+00:00\",\"released_at\":\"\"}"}, "status": {"code": 200, "message": "OK"}}}, {"recorded_at": "2015-06-25T10:19:50", "request": {"headers": {"X-Auth-Token": "3f2c2ee83d0ce060230b3337a35d636d"}, "body": {"encoding": "utf-8", "string": ""}, "uri": "https://devapi.thecurrencycloud.com/v2/settlements/2bdf5b05-1cb6-4a9a-811f-43046eec63b7/release", "method": "POST"}, "response": {"url": "https://devapi.thecurrencycloud.com/v2/settlements/2bdf5b05-1cb6-4a9a-811f-43046eec63b7/release", "headers": {"content-type": "application/json;charset=utf-8"}, "body": {"encoding": "utf-8", "string": "{\"id\":\"2bdf5b05-1cb6-4a9a-811f-43046eec63b7\",\"status\":\"released\",\"short_reference\":\"20150625-KCXRLJ\",\"type\":\"bulk\",\"conversion_ids\":[\"49613663-717c-496e-9dd6-2f1d4e59131f\"],\"entries\":[{\"USD\":{\"receive_amount\":\"0.00\",\"send_amount\":\"1569.50\"}},{\"GBP\":{\"receive_amount\":\"1000.00\",\"send_amount\":\"0.00\"}}],\"created_at\":\"2015-06-25T10:19:48+00:00\",\"updated_at\":\"2015-06-25T10:19:50+00:00\",\"released_at\":\"2015-06-25T10:19:50+00:00\"}"}, "status": {"code": 200, "message": "OK"}}}], "recorded_with": "betamax/0.4.2"}