{"http_interactions": [{"recorded_at": "2015-06-25T10:19:47", "request": {"headers": {"Content-Type": "application/x-www-form-urlencoded"}, "body": {"encoding": "utf-8", "string": "api_key=ef0fd50fca1fb14c1fab3a8436b9ecb65f02f129fd87eafa45ded8ae257528f0&login_id=rjnienaber%40gmail.com"}, "uri": "https://devapi.thecurrencycloud.com/v2/authenticate/api", "method": "POST"}, "response": {"url": "https://devapi.thecurrencycloud.com/v2/authenticate/api", "headers": {"content-type": "application/json;charset=utf-8"}, "body": {"encoding": "utf-8", "string": "{\"auth_token\":\"52a929c4d6dfe85c4b5d6373715aa8a5\"}"}, "status": {"code": 200, "message": "OK"}}}, {"recorded_at": "2015-06-25T10:19:48", "request": {"headers": {"X-Auth-Token": "52a929c4d6dfe85c4b5d6373715aa8a5", "Content-Type": "application/x-www-form-urlencoded"}, "body": {"encoding": "utf-8", "string": "term_agreement=true&reason=mortgage+payment&buy_currency=GBP&amount=1000&sell_currency=USD&fixed_side=buy"}, "uri": "https://devapi.thecurrencycloud.com/v2/conversions/create", "method": "POST"}, "response": {"url": "https://devapi.thecurrencycloud.com/v2/conversions/create", "headers": {"content-type": "application/json;charset=utf-8"}, "body": {"encoding": "utf-8", "string": "{\"id\":\"49613663-717c-496e-9dd6-2f1d4e59131f\",\"settlement_date\":\"2015-06-29T14:00:00+00:00\",\"conversion_date\":\"2015-06-29T00:00:00+00:00\",\"short_reference\":\"20150625-YBXZHG\",\"creator_contact_id\":\"c4d838e8-1625-44c6-a9fb-39bcb1fe353d\",\"account_id\":\"8ec3a69b-02d1-4f09-9a6b-6bd54a61b3a8\",\"currency_pair\":\"GBPUSD\",\"status\":\"awaiting_funds\",\"buy_currency\":\"GBP\",\"sell_currency\":\"USD\",\"client_buy_amount\":\"1000.00\",\"client_sell_amount\":\"1569.50\",\"fixed_side\":\"buy\",\"mid_market_rate\":\"1.5696\",\"core_rate\":\"1.5695\",\"partner_rate\":\"\",\"partner_status\":\"funds_arrived\",\"partner_buy_amount\":\"0.00\",\"partner_sell_amount\":\"0.00\",\"client_rate\":\"1.5695\",\"deposit_required\":false,\"deposit_amount\":\"0.00\",\"deposit_currency\":\"\",\"deposit_status\":\"not_required\",\"deposit_required_at\":\"\",\"payment_ids\":[],\"created_at\":\"2015-06-25T10:19:47+00:00\",\"updated_at\":\"2015-06-25T10:19:48+00:00\"}"}, "status": {"code": 200, "message": "OK"}}}, {"recorded_at": "2015-06-25T10:19:48", "request": {"headers": {"X-Auth-Token": "52a929c4d6dfe85c4b5d6373715aa8a5"}, "body": {"encoding": "utf-8", "string": ""}, "uri": "https://devapi.thecurrencycloud.com/v2/settlements/create", "method": "POST"}, "response": {"url": "https://devapi.thecurrencycloud.com/v2/settlements/create", "headers": {"content-type": "application/json;charset=utf-8"}, "body": {"encoding": "utf-8", "string": "{\"id\":\"2bdf5b05-1cb6-4a9a-811f-43046eec63b7\",\"status\":\"open\",\"short_reference\":\"20150625-KCXRLJ\",\"type\":\"bulk\",\"conversion_ids\":[],\"entries\":[],\"created_at\":\"2015-06-25T10:19:48+00:00\",\"updated_at\":\"2015-06-25T10:19:48+00:00\",\"released_at\":\"\"}"}, "status": {"code": 200, "message": "OK"}}}, {"recorded_at": "2015-06-25T10:19:49", "request": {"headers": {"X-Auth-Token": "52a929c4d6dfe85c4b5d6373715aa8a5", "Content-Type": "application/x-www-form-urlencoded"}, "body": {"encoding": "utf-8", "string": "conversion_id=49613663-717c-496e-9dd6-2f1d4e59131f"}, "uri": "https://devapi.thecurrencycloud.com/v2/settlements/2bdf5b05-1cb6-4a9a-811f-43046eec63b7/add_conversion", "method": "POST"}, "response": {"url": "https://devapi.thecurrencycloud.com/v2/settlements/2bdf5b05-1cb6-4a9a-811f-43046eec63b7/add_conversion", "headers": {"content-type": "application/json;charset=utf-8"}, "body": {"encoding": "utf-8", "string": "{\"id\":\"2bdf5b05-1cb6-4a9a-811f-43046eec63b7\",\"status\":\"open\",\"short_reference\":\"20150625-KCXRLJ\",\"type\":\"bulk\",\"conversion_ids\":[\"49613663-717c-496e-9dd6-2f1d4e59131f\"],\"entries\":[{\"GBP\":{\"receive_amount\":\"1000.00\",\"send_amount\":\"0.00\"}},{\"USD\":{\"receive_amount\":\"0.00\",\"send_amount\":\"1569.50\"}}],\"created_at\":\"2015-06-25T10:19:48+00:00\",\"updated_at\":\"2015-06-25T10:19:49+00:00\",\"released_at\":\"\"}"}, "status": {"code": 200, "message": "OK"}}}], "recorded_with": "betamax/0.4.2"}