{"http_interactions": [{"response": {"headers": {"content-type": "application/json;charset=utf-8"}, "body": {"string": "{\"error_code\":\"auth_invalid_user_login_details\",\"error_messages\":{\"api_key\":[{\"code\":\"api_key_length_is_invalid\",\"message\":\"api_key should be 64 character(s) long\",\"params\":{\"length\":64}}]}}", "encoding": "utf-8"}, "status": {"message": "Bad Request", "code": 400}, "url": "https://devapi.thecurrencycloud.com/v2/authenticate/api"}, "request": {"headers": {"Content-Type": "application/x-www-form-urlencoded"}, "body": {"string": "login_id=non-existent-login-id&api_key=ef0fd50fca1fb14c1fab3a8436b9ecb57528f1", "encoding": "utf-8"}, "method": "POST", "uri": "https://devapi.thecurrencycloud.com/v2/authenticate/api"}, "recorded_at": "2015-06-23T12:35:09"}], "recorded_with": "betamax/0.4.2"}