{"recorded_with": "betamax/0.4.2", "http_interactions": [{"recorded_at": "2015-06-23T12:44:21", "response": {"url": "https://devapi.thecurrencycloud.com/v2/authenticate/api", "status": {"code": 401, "message": "Unauthorized"}, "headers": {"content-type": "application/json;charset=utf-8"}, "body": {"encoding": "utf-8", "string": "{\"error_code\":\"auth_failed\",\"error_messages\":{\"username\":[{\"code\":\"invalid_supplied_credentials\",\"message\":\"Authentication failed with the supplied credentials\",\"params\":{}}]}}"}}, "request": {"method": "POST", "uri": "https://devapi.thecurrencycloud.com/v2/authenticate/api", "headers": {"Content-Type": "application/x-www-form-urlencoded"}, "body": {"encoding": "utf-8", "string": "api_key=efb5ae2af84978b7a37f18dd61c8bbe139b403009faea83484405a3dcb64c4d8&login_id=non-existent-login-id"}}}]}