{
  "recorded_with": "betamax/0.4.2",
  "http_interactions": [
    {
      "request": {
        "uri": "https://devapi.thecurrencycloud.com/v2/authenticate/api",
        "body": {
          "encoding": "utf-8",
          "string": "api_key=ef0fd50fca1fb14c1fab3a8436b9ecb57528f0&login_id=non-existent-login-id"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST"
      },
      "recorded_at": "2015-06-23T12:40:25",
      "response": {
        "url": "https://devapi.thecurrencycloud.com/v2/authenticate/api",
        "body": {
          "encoding": "utf-8",
          "string": "{\"error_code\":\"too_many_requests\",\"error_messages\":{\"base\":[{\"code\":\"too_many_requests\",\"message\":\"Too many requests have been made to the api. Please refer to the Developer Center for more information\",\"params\":{}}]}}"
        },
        "headers": {
          "content-type": "application/json;charset=utf-8"
        },
        "status": {
          "code": 429,
          "message": "Too Many Requests"
        }
      }
    }
  ]
}