{
  "http_interactions": [
    {
      "recorded_at": "2018-07-16T22:20:04",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "login_id=development%40currencycloud.com&api_key=deadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef"
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://devapi.currencycloud.com/v2/authenticate/api"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"auth_token\":\"deadbeefdeadbeefdeadbeefdeadbeef\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://devapi.currencycloud.com/v2/authenticate/api"
      }
    },
    {
      "recorded_at": "2018-07-16T22:20:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "currency=GBP&amount=450"
        },
        "headers": {
          "X-Auth-Token": [
            "deadbeefdeadbeefdeadbeefdeadbeef"
          ]
        },
        "method": "POST",
        "uri": "https://devapi.currencycloud.com/v2/balances/top_up_margin"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"account_id\": \"6c046c51-2387-4004-8e87-4bf97102e36d\",\"currency\": \"GBP\",\"transferred_amount\": \"450.0\",\"transfer_completed_at\": \"2007-11-19T08:37:48-06:00\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://devapi.currencycloud.com/v2/balances/top_up_margin"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}

