{
  "http_interactions": [
    {
      "recorded_at": "2018-07-16T22:20:04",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "login_id=development%40currencycloud.com&api_key=deadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef"
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://devapi.currencycloud.com/v2/authenticate/api"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"auth_token\":\"deadbeefdeadbeefdeadbeefdeadbeef\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://devapi.currencycloud.com/v2/authenticate/api"
      }
    },
    {
      "recorded_at": "2018-07-16T22:20:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "X-Auth-Token": [
            "deadbeefdeadbeefdeadbeefdeadbeef"
          ]
        },
        "method": "GET",
        "uri": "https://devapi.currencycloud.com/v2/payments/quote_payment_fee?payment_currency=USD&payment_destination_country=US&payment_type=regular"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"account_id\": \"0534aaf2-2egg-0134-2f36-10b11cd33cfb\",\"payment_currency\": \"USD\", \"payment_destination_country\": \"US\",\"payment_type\": \"regular\",\"charge_type\": null,\"fee_amount\": \"10.00\",\"fee_currency\": \"EUR\"}",
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://devapi.currencycloud.com/v2/payments/quote_payment_fee?payment_currency=USD&payment_destination_country=US&payment_type=regular"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}
