{"recorded_with": "betamax/0.4.2", "http_interactions": [{"recorded_at": "2015-06-25T07:51:46", "response": {"url": "https://devapi.thecurrencycloud.com/v2/authenticate/api", "status": {"code": 200, "message": "OK"}, "headers": {"content-type": "application/json;charset=utf-8"}, "body": {"encoding": "utf-8", "string": "{\"auth_token\":\"4cccceadad88635bee7e82a229175582\"}"}}, "request": {"method": "POST", "uri": "https://devapi.thecurrencycloud.com/v2/authenticate/api", "headers": {"Content-Type": "application/x-www-form-urlencoded"}, "body": {"encoding": "utf-8", "string": "api_key=ef0fd50fca1fb14c1fab3a8436b9ecb65f02f129fd87eafa45ded8ae257528f0&login_id=rjnienaber%40gmail.com"}}}, {"recorded_at": "2015-06-25T07:51:47", "response": {"url": "https://devapi.thecurrencycloud.com/v2/rates/find?currency_pair=GBPUSD%2CEURGBP", "status": {"code": 200, "message": "OK"}, "headers": {"content-type": "application/json;charset=utf-8"}, "body": {"encoding": "utf-8", "string": "{\"rates\":{\"EURGBP\":[\"0.71315\",\"0.7138\"],\"GBPUSD\":[\"1.56982\",\"1.57052\"]},\"unavailable\":[]}"}}, "request": {"method": "GET", "uri": "https://devapi.thecurrencycloud.com/v2/rates/find?currency_pair=GBPUSD%2CEURGBP", "headers": {"X-Auth-Token": "4cccceadad88635bee7e82a229175582"}, "body": {"encoding": "utf-8", "string": ""}}}]}