{"recorded_with": "betamax/0.4.2", "http_interactions": [{"request": {"uri": "https://devapi.thecurrencycloud.com/v2/authenticate/api", "body": {"encoding": "utf-8", "string": "api_key=ef0fd50fca1fb14c1fab3a8436b9ecb65f02f129fd87eafa45ded8ae257528f0&login_id=rjnienaber%40gmail.com"}, "headers": {"Content-Type": "application/x-www-form-urlencoded"}, "method": "POST"}, "response": {"url": "https://devapi.thecurrencycloud.com/v2/authenticate/api", "body": {"encoding": "utf-8", "string": "{\"auth_token\":\"24faa2baff89ed3f21de197543d5844a\"}"}, "headers": {"content-type": "application/json;charset=utf-8"}, "status": {"code": 200, "message": "OK"}}, "recorded_at": "2015-06-25T07:56:58"}, {"request": {"uri": "https://devapi.thecurrencycloud.com/v2/rates/detailed?buy_currency=GBP&sell_currency=USD&amount=10000&fixed_side=buy", "body": {"encoding": "utf-8", "string": ""}, "headers": {"X-Auth-Token": "24faa2baff89ed3f21de197543d5844a"}, "method": "GET"}, "response": {"url": "https://devapi.thecurrencycloud.com/v2/rates/detailed?buy_currency=GBP&sell_currency=USD&amount=10000&fixed_side=buy", "body": {"encoding": "utf-8", "string": "{\"settlement_cut_off_time\":\"2015-06-29T14:00:00Z\",\"currency_pair\":\"GBPUSD\",\"client_buy_currency\":\"GBP\",\"client_sell_currency\":\"USD\",\"client_buy_amount\":\"10000.00\",\"client_sell_amount\":\"15709.00\",\"fixed_side\":\"buy\",\"mid_market_rate\":\"1.5705\",\"client_rate\":\"1.5709\",\"partner_rate\":null,\"core_rate\":\"1.5709\",\"deposit_required\":null,\"deposit_amount\":\"0.0\",\"deposit_currency\":\"USD\"}"}, "headers": {"content-type": "application/json;charset=utf-8"}, "status": {"code": 200, "message": "OK"}}, "recorded_at": "2015-06-25T07:56:59"}]}